body {
  font-family: Montserrat;
  padding: 15px;
  text-align: center;
}

h1 {
  margin-bottom: 60px;
  color: #e91e63;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  font-weight: 100;
}

table {
  display: inline;
  text-align: center;
  border-collapse: collapse;
}

table tbody tr {
  border: 1px solid #e91e63;
}

table td,
table th {
  padding: 10px;
}

table td:nth-of-type(3) {
  font-weight: 700;
}

a {
  color: #e91e63;
  font-size: 20px;
  display: block;
  margin: 30px;
  text-decoration: none;
}

.title-icon {
  width: 25px;
}

img {
  width: 48px;
}

.meniu-qr {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  font-size: 14px;
  box-shadow: 0px 0 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 40px;
}
